.header {

  padding-block: 46px;

  &__row {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
    transition: all 0.4s;

    & span {

      font-style: 40px;
      font-weight: 900;
      line-height: 1.5;
      letter-spacing: 0.03em;
      color: var(--textColor);
      text-transform: uppercase;
    }

    &:hover {
      scale: 1.1;
    }
  }

  &__nav {

    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;


    ul {
      display: flex;
      column-gap: 65px;
      align-items: center;
    }

    &-link {
      transition: all 0.4s;
      color: var(--textColor);

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--yellow);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all 0.4s;
      }

      &.is-active {
        color: var(--yellow);

        &::after {
          width: 100%;
        }
      }




      &:hover {
        opacity: 0.8;
        color: var(--gray);

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__nav-btn {
    display: flex;
    background-color: var(--textColor);
    border-radius: 7px;
    padding: 13px 22px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    color: white;
    transition: all 0.4s;

    &:hover {
      opacity: 0.9;
      scale: 1.05;
      color: var(--yellow)
    }
  }
}
